.timeline {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: auto;
  margin: 12px auto;
  background-color: #222222;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.avatar {
  border-radius: 10px;
  margin-right: 15px;
  margin: 24px;
}
.account {
  color: #fff;
  font-size: 28px;
  width: 100%;
  margin-top: 8px;

  margin-bottom: 16px;
}
.content {
  color: #fff;
  font-size: 16px;
  padding-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
  width: 460px;
}
.reaction {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  align-items: end;
  margin-top: auto;
  gap: 16px;
}
.reaction button {
  background-color: #fff;
  color: #fff;
  padding: 6px;
  border: none;
  border-radius: 6px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 16px 24px;
}

.commentBox {
  display: flex;
  flex-direction: row;
  margin: auto 142px;
  justify-content: end;
  color: #fff;
  border-radius: 6px;
  padding: 16px;
}
.commentBox input {
  background-color: #222222;
  color: #fff;
  border-radius: 6px;
  margin-right: 16px;
  width: 100%;
  border: none;
}
.comments {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 142px;
  border-radius: 6px;
  border: solid #222222;
  padding: 12px;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
